{% extends 'base.html' %}

{% block title %}

    Lista de Categorias - {{ block.super }}

{% endblock title %}

{% block body %}

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Tabela de Categorias</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="http://127.0.0.1:8000">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clients:list_clients' %}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'products:list_products' %}">Carros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'categories:list_categories' %}">Modelos</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <br />
        <h5 style= "color: white"><b>Lista de Categorias</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th style= "color: white" scope="col">#</th>
                    <th style= "color: white" scope="col">Nome</th>
                    <th style= "color: white" scope="col">Descricao</th>
                    <th style= "color: white" scope="col"></th>
                    <th style= "color: white" scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <th style= "color: white" scope="row">{{ category.id }}</th>
                            <td style= "color: white">{{ category.name }}</td>
                            <td style= "color: white">{{ category.description }}</td>
                            <td style= "color: white">
                                <a href="{% url 'categories:edit_category' category.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td style= "color: white">
                                <a href="{% url 'categories:delete_category' category.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
                <button class="btn btn-light">
                    <a href="{% url 'categories:add_category' %}">Cadastro de nova categoria</a>
                </button>
                
            </div>
        </div>
    </div>

{% endblock body %}